@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
  background: #f3f3f3;
  height: 100%;
}

.facebook {
  :hover {
    fill: #3b5998;
  }
}
.instagram {
  &:hover {
    fill: #e1306c;
  }
}
.youtube {
  &:hover {
    fill: #ff0000;
  }
}
